#content {
  height: 650px;
  padding: 50px;
  background-color: #d8d8d8;
}

#register {
  width: 650px;
  height: 550px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
}

#register h3 {
  margin: 0;
  padding: 30px 40px;
  font-size: 28px;
}

#register {
  margin: 0 auto;
  padding: 0 40px;
}

#register label {
  width: 100px;
  margin: 0;
  padding: 7px 0;
}

.red {
  color: red;
}

#register .btn_group {
  text-align: right;
}

#register .btn {
  margin: 20px 0;
  padding: 5px 20px;
  color: white;
}
